@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@400;700&display=swap');


body {
  font-family: "Roboto", sans-serif;
}
.primaryColor {
  background-color: #9900ff;
}

.actionColor {
  color: #008137;
}

.primaryFont {
  font-family: "Roboto", sans-serif;
}

.secondaryFont {
  font-family: "Montserrat", sans-serif;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.modal {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullButton {
  width: 100%;
}

.donateModal {
  color: #9900ff;
}

.typing {
  color: #ff7800;
  border: none;
  outline: none;

  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}


.primaryButton {
  border-radius: 1rem;

}

.secondaryButton {
  border-radius: 1rem;
}


.activeScroll {
  border-bottom: 1px ;
  box-shadow: 0 1px 2px #ff7700b5;

}

.navbar {
  background-color: #FF7900;
  color: #fff;
  text-transform: uppercase;
}